name: Check compilation

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        language: [cpp, go]
    steps:
      # Setup
      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Run
      - name: DEBUG
        run: |
          echo "$language"
          protoc --version

      - name: Build
        run: |
          echo "protoc -Isrc/ --${language}_out=src/ src/**/*.proto"
          protoc -Isrc/ --${language}_out=src/ src/**/*.proto